.cell {
    width: 32px;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: var(--water);
    margin: 1px;
    border-radius: 4px;
}

.cell:hover {
    background-color: var(--yellow);
}

.my-ship {
    background-color: var(--light-blue);
}

.hit-miss,
.hit-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed !important;
}

.hit-miss {
    background-color: var(--yellow);
}

.hit-ship {
    background-color: var(--hit);
}

.dot {
    height: 5px;
    width: 5px;
    background-color: var(--gray);
    border-radius: 50%;
}



.board-row {
    display: flex;
}