.gameboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--default-padding);
}


.board-row {
    width: 100%;
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: transparent;
    margin: 1px;
    background-color: var(--off-gray);
    /* border: 0.5px solid var(--off-black); */
}

#cpu-board>.gameboard>.board-row>.cell:hover {
    background-color: var(--yellow);
}

#human-board>.gameboard>.board-row>.cell {
    cursor: default !important;
}

.my-ship {
    background-color: var(--blue);
}

.hit-miss,
.hit-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed !important;
}

.hit-miss {
    background-color: var(--yellow);
}

.hit-ship {
    background-color: var(--red);
}

.dot {
    height: 5px;
    width: 5px;
    background-color: var(--off-black);
    border-radius: 50%;
}