.gameboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: var(--default-padding);
}


.cell {
    flex: 1;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: transparent;
    background-color: var(--off-gray);
    transition: all 0.2s ease-out;
    margin: 2px;
}

#cpu-board:not(.not-turn)>.gameboard>.board-row>.cell:hover {
    background-color: var(--yellow);
}

#cpu-board>.gameboard>.board-row>.cell:active {
    transform: scale(0.9);
}

#human-board>.gameboard>.board-row>.cell {
    cursor: default !important;
}



.my-ship {
    background-color: var(--blue);
}

.hit-miss,
.hit-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed !important;
}

.hit-miss {
    background-color: var(--yellow);
}

.hit-ship,
.hit-ship:hover {
    background-color: var(--red) !important;
}

.dot {
    height: 30%;
    aspect-ratio: 1;
    background-color: var(--off-black);
    border-radius: 50%;
}

.buffer {
    background-color: rgb(255, 255, 255);
}