.nav {
    background-color: var(--white-bg);
    font-weight: 500;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.nav-title {
    color: var(--off-black);
    font-size: 2rem;
}

.nav-zigzag {
    max-width: 100%;
    height: 30px;
    object-fit: cover;
    align-self: flex-end;
    position: absolute;
    bottom: -30px;
}


.game-container {
    background-color: var(--light-blue-bg);
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12%;
    padding: 0 9%;
}


.board-title-container,
.fleet-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-top: 30px;
}

.board-title {
    font-size: 1.4rem;
    color: var(--main-blue);
}

.board-container {
    aspect-ratio: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease-out;
    /* margin: 0 100px; */
}

#cpu-board {
    margin-bottom: 45px;
}

.not-turn {
    transform: scale(0.95) !important;
    background-color: var(--off-gray) !important;
}

.fleet-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    height: 230px;
    margin-bottom: 50px;
}

.zigzag {
    max-width: 100%;
    height: 10px;
    object-fit: cover
}

.fleet-title {
    color: var(--main-blue);
    font-size: 1.4rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


.buttons-container {
    display: flex;
    justify-content: space-between;
}

.refresh-container,
.confirm-container {
    margin: 10px 0;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
}

.refresh-container:active,
.confirm-container:active {
    transform: scale(0.95);
}

.refresh::before,
.confirm::before {
    color: var(--dark-blue-bg);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    cursor: pointer;
    transition: color 0.2s ease-out;
}

.refresh::before {
    content: "\f074";
}

.confirm::before {
    content: "\f04b";
}

.disabled {
    cursor: not-allowed;
    background-color: var(--off-gray);
}

.refresh-container:hover>.refresh::before,
.confirm-container:hover>.confirm::before {
    color: var(--main-blue);
}

.disabled:hover>.button {
    transform: scale(1) !important;
    cursor: not-allowed;
}



@media only screen and (max-width: 700px) {
    .game-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    body {
        padding: 10px;
    }
}