@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
}

:root {
    --white-bg: #ffffff;
    --light-blue-bg: #f2f7ff;
    --dark-blue-bg: #d2e3fd;
    --main-blue: #1a74e8;
    --main-red: #ff6c7f;
    --off-black: #3c4043;



    --off-white: #e7e7e7;
    --off-gray: #bec3bd;
    --gray: #dcdcdc;
    --blue: #3f6aee;
    --off-blue: #7fa2e2;
    --red: #c7441b;
    --off-red: #c6705d;
    --yellow: #eab83f;
    --green: #21b968;


    --default-padding: 20px;
    --default-radius: 22px;
    --default-margin: 10px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: var(--dark-blue-bg);
}